{% extends 'base.html' %}
{% block heders %}
  <link rel="stylesheet" href="/static/css/artist.css" />
{% endblock %}
{% block body %}
<div id="bener"></div>

  <main class="mx-5">
    <section class="about-us">
      <h2 class="text-center fw-bold">About Us</h2>
      <p>Artist Management is a full-service management company dedicated to helping artists achieve their dreams. Our team of experienced professionals provides a wide range of services, including artist development, marketing, and tour management. We pride ourselves on our ability to create personalized plans for each of our clients, tailored to their unique goals and talents.</p>
    </section>
    <section class="services">
      <h2 class="text-center">Our Services</h2>
      <ul>
        <li>
          <h3>Artist Development</h3>
          <p>We work closely with our clients to help them develop their skills and talents, providing coaching and support as needed.</p>
        </li>
        <li>
          <h3>Marketing</h3>
          <p>We create customized marketing plans to help our clients build their fan base and increase their visibility in the industry.</p>
        </li>
        <li>
          <h3>Tour Management</h3>
          <p>We handle all aspects of tour management, from booking shows to coordinating travel and accommodations.</p>
        </li>
      </ul>
    </section>
    <section class="artists">
      <h2 class="text-center fw-bold">Our Artists</h2>
      <ul>
        <li>
          <img src="/static/image/partybenner.jpg" alt="Artist Image" />
          <h3>John Smith</h3>
          <p>John Smith is an up-and-coming singer-songwriter with a unique sound and a growing fan base.</p>
        </li>
        <li>
          <img src="/static/image/partybenner.jpg" alt="Artist Image" />
          <h3>Jane Doe</h3>
          <p>Jane Doe is a talented musician and songwriter with a passion for storytelling.</p>
        </li>
        <li>
          <img src="/static/image/partybenner.jpg" alt="Artist Image" />
          <h3>Bob Johnson</h3>
          <p>Bob Johnson is a seasoned performer with decades of experience and a loyal following.</p>
        </li>
      </ul>
    </section>
   
  </main>
{% endblock %}
