{% extends 'base.html' %}
{% block heders %}

{% endblock %}
{% block body %}<br><br>
<div class="card my-5 border-0 mx-auto">
    <h1 class="text-center">Corporate Event Planning</h1>
    <div class="card-body">
        <h5 class="card-title">CORPORATE EVENTS THAT PROVIDE THE WOW FACTOR</h5>
        <p class="card-text">A well organised and well delivered corporate event can be invaluable to your client’s
            business. Working with BMI not only will you receive the very best service delivery expertise, and a
            creative experience that delivers our passion for the unexpected.</p>
        <p>Whatever the budget or size of the event, we will always go one step further to deliver an event that meets
            objectives and exceeds expectation. And our experience covers all types of corporate event including charity
            fundraisers, office and Christmas parties, award ceremonies, product launches, incentives, team building and
            conferences.</p>
        <br /><br />
        <h4>It doesn't matter whether it's a company anniversary, customer or employee event - whether live, virtual or
            in a hybrid variant: We combine the best of all communication worlds to create a thoroughly unique occasion
            - and thus ensure that your event will be remembered for a long time to come is talked about.</h4>
    </div>
</div>
<br>


<div class="card w-75 mb-3 border-0 mx-auto">
    <div class="row g-0">
        <div class="col-md-5">
            <img src="/static/image/cor1.jpg" class="img-fluid rounded-start" alt=" Corporate">

        </div>
        <div class="col-md-7">
            <div class="card-body">
                <h class="featurette-heading">Oh yeah, it’s that good. <span class="text-muted">See for
                        yourself.</span></h2>
                    <p class="fs-sm"><b class="fw-bold fs-3">A</b> nother featurette? Of course. More placeholder
                        content
                        here to give you an idea of how this layout would work with some actual real-world content in
                        place.
                    </p>

            </div>
        </div>
    </div>
</div><br><br>


<div class="card w-75 border-0 mx-auto">
    <div class="row g-0">
        <div class="col-md-5">
            <img src="/static/image/cor1.jpg" class="img-fluid rounded-start" alt=" Corporate">

        </div>
        <div class="col-md-7">
            <div class="card-body">
                <h2 class="featurette-heading">Oh yeah, it’s that good. <span class="text-muted">See for
                        yourself.</span></h2>
                <p class="lead"><b class="fw-bold fs-3">A</b> nother featurette? Of course. More placeholder content
                    here to give you an idea of how this layout would work with some actual real-world content in place.
                </p>

            </div>
        </div>
    </div>
</div><br><br>
<div class="card w-75 border-0 mx-auto">
    <div class="row g-0">
        <div class="col-md-5">
            <img src="/static/image/cor1.jpg" class="img-fluid rounded-start" alt=" Corporate">

        </div>
        <div class="col-md-7">
            <div class="card-body" style="position: relative;top: -1rem;">
                <h4 class="featurette-heading fw-bold">Ngaging your employees and creating experience for them is a
                    very important task for building an awesome annual day event.</h4>
                <p class="lead"><b class="">he benefits of a well-executed annual party event are numerous like ice
                        breaking,
                        higher morale, fun, the pride of place, party, a chance to mingle, make new friends
                        etc. All of this contributes to higher engagement and better long-term productivity.
                        However, it is important to do it right and do it well.</p>
                <h6 class="fw-bold">here are three secrets to make an annual day event
                    memorable; the first is scintillating décor & set up, second is
                    great entertainment and third one is delicious food & service.
                </h6>

            </div>
        </div>
    </div>
</div><br><br>


<div class="card w-75 border-0 mx-auto">
    <div class="row g-0">
        <div class="col-md-5">
            <img src="/static/image/cor1.jpg" class="img-fluid rounded-start" alt=" Corporate">

        </div>
        <div class="col-md-7">
            <div class="card-body" style="position: relative;top: -1rem;">
         
                <p class="lead">our guests have come for a show, so give them one. Simply 
                    reading out a long list of award winners’ names and watching 
                    as they have photos taken can be tedious for non-winners. 
                    These award ceremony ideas explore how you can combine 
                    music, video, and light to create a natural spectacle.</p>
               <p class="lead">The benefits of hiring a reputable Awards Event Organiser</p>
               <ul>
                <li>Make space and time for networking</li>
                <li>Engage the crowd</li>
                <li>Hire a comedian to host a roast</li>
       
               </ul>
               <p class="lead fw-bold">Ready for your awards show?</p>
               <p class="lead">ou don’t need to emulate a Hollywood awards show. Make 
                yours glamorous or laid-back to ensure attendees feel 
                comfortable. After all, the idea is to highlight achievements, 
                milestones, and accomplishments of award recipients.
                Are you inspired to recognize the outstanding accomplishments 
                of others? Make it easy and get benefit of our expertise.</p>

            </div>
        </div>
    </div>
</div><br><br>


<div class="card w-75 border-0 mx-auto">
    <div class="row g-0">
        <div class="col-md-5">
            <img src="/static/image/cor1.jpg" class="img-fluid rounded-start" alt=" Corporate">

        </div>
        <div class="col-md-7">
            <div class="card-body">
                <h2 class="featurette-heading">Oh yeah, it’s that good. <span class="text-muted">See for
                        yourself.</span></h2>
                <p class="lead"><b class="fw-bold fs-3">A</b> nother featurette? Of course. More placeholder content
                    here to give you an idea of how this layout would work with some actual real-world content in place.
                </p>

            </div>
        </div>
    </div>
</div><br><br>


{% endblock %}