{% extends 'base.html' %}
{% block heders %}

{% endblock %}
{% block body %}
  <div class="album my-5 py-5 bg-body py-5">
    <h1 class="text-center">Gallery</h1><br>
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
     
    
        <a href="/static/image/cor1.jpg">
        <div class="col">
          <div class="card shadow-sm">
           <img src="/static/image/cor1.jpg" alt="m">

            <div class="card-body">
             <p class="card-text">This content is a little bit longer.</p>
            </div>
          </div>
        </div></a>

        <a href="/static/image/cor1.jpg">
          <div class="col">
            <div class="card shadow-sm">
             <img src="/static/image/cor1.jpg" alt="m">
  
              <div class="card-body">
               <p class="card-text">This content is a little bit longer.</p>
              </div>
            </div>
          </div></a>

          <a href="/static/image/cor1.jpg">
            <div class="col">
              <div class="card shadow-sm">
               <img src="/static/image/cor1.jpg" alt="m">
    
                <div class="card-body">
                 <p class="card-text">This content is a little bit longer.</p>
                </div>
              </div>
            </div></a>

            <a href="/static/image/cor1.jpg">
              <div class="col">
                <div class="card shadow-sm">
                 <img src="/static/image/cor1.jpg" alt="m">
      
                  <div class="card-body">
                   <p class="card-text">This content is a little bit longer.</p>
                  </div>
                </div>
              </div></a>

              <a href="/static/image/cor1.jpg">
                <div class="col">
                  <div class="card shadow-sm">
                   <img src="/static/image/cor1.jpg" alt="m">
        
                    <div class="card-body">
                     <p class="card-text">This content is a little bit longer.</p>
                    </div>
                  </div>
                </div></a>

      </div>
    </div>
  </div>
{% endblock %}
